
body {
	padding:100px 5%;
	box-sizing:border-box!important;
}
h3 {
	font-size: 20px!important;
}
img {
	width: 100%;
}
.mt-100 {
	margin-top:100px;
}
.list > ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}
.list > ul > li {
	width: 50%;
	border:2px dotted #f00;
	padding:20px;
	box-sizing: border-box;
}
.list h3 > .genre {
	font-size:14px;
	padding:5px;
	background-color: #000;
	color: #fff;
	border-radius:10px;
	margin-right:15px;
}
.list li > div {
	margin:20px 5px 5px 10px;
}
.explain {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px!important;
}
.explain > div {
	width:50%;
	padding:5px;
	box-sizing: border-box;
}
.access > span {
	margin-right: 1em;
}
